<html>
<head>

<!--
<script type="text/javascript" src="../js/jquery-1.2.6.min.js"></script>
-->
<script type="text/javascript" src="../js/Fluid-all-0.6beta1.js"></script>


<!--  These are the jqUnit test framework files -->
<link rel="Stylesheet" media="screen" href="../js/jqUnit/testsuite.css" />
<script type="text/javascript" src="../js/jqUnit/testrunner.js"></script>
<script type="text/javascript" src="../js/jqUnit/jqUnit.js"></script>

<script type="text/javascript" src="../js/asnn_tests.js"></script>
</head>
<body>
<!-- This is the markup that jqUnit will look for when running tests and displaying the results -->
<h1>Assignments 2 Unit Tests</h1>
<p>
Welcome to the Assignments 2 Unit Tests. In order to run these you'll need to 
enter usernames and passwords in the text boxes below, as well as a site ID. 
These will be used for testing the application.
</p>
<table>
<tr>
  <td><input id="runtests-button" type="button" value="Run Tests" />
</tr>
<tr>
  <td>Instructor ID</td>
  <td><input id="instid" type="text" /></td>
  <td>Password</td>
  <td><input id="instpw" type="text" /></td>
</tr>
<tr>
  <td>Student ID</td>
  <td><input id="studentid" type="text" /></td>
  <td>Password</td>
  <td><input id="studentpw" type="text" /></td>
</tr>
<tr>
  <td>Site ID:</td><td><input id="siteid" type="text"/></td>
</tr>
</table>

<h1 id="header">Assignments 2 Unit Tests</h1>
<h2 id="banner"></h2>
<h2 id="userAgent"></h2>
<ol id="tests"></ol>
<div id="main">

</div>
</body>
</html>
