<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns:rsf="http://ponder.org.uk/rsf" xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
<head>
   <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

   <title rsf:id="msg=assignment2.title">Assignments</title>
    <link href="/library/skin/tool_base.css" type="text/css" rel="stylesheet" media="all"/>
    <link href="/library/skin/default/tool.css" type="text/css" rel="stylesheet" media="all"/>
	<link href="/sakai-assignment2-tool/content/css/assignmentsv4.css" type="text/css" rel="stylesheet" media="all" />
</head>

<body>
<!--  everything outside of rsf:id="page:" is set in Layout.html using outerPageTemplates -->

<div rsf:id="page:" class="portletBody">

	<div class="generalErrors">
		<ul rsf:id="message-for:*" style="margin:0px;">
			<li>Message for user here</li>
		</ul>
	</div>
	
	<div rsf:id="pagerDiv" class="listNav">
	</div>

	<form name="" action="" method="post">
		<table class="listHier lines">
			<tr> 
				<th id="">
					<a href="#" title="Sort by student">Student<img src="bullet_arrow_up.png" alt="Sort order" width="16" height="16" align="absmiddle" /></a>
				</th>
				<th class="attach">&nbsp;</th>
				<th id="title">
					<a href="#" title="Sort by title">Assignment</a>
				</th>
				<th id="">
					<a href="#" title="Sort by grade">Grade</a>
				</th>
				<th id="">
					<a href="#"  title="Sort by submit date">Submitted</a>
				</th>
				<th id="">
					<a href="#" title="Sort by status">Status</a>
				</th>
				<th id="">
					<a href="#" title="Sort by max grade available">Scale</a>
				</th>
			</tr>


			<tr> 
				<td>
					<img src="collapse.png" alt="Collapse group" width="16" height="16" /> Bob Robertson
				</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
			</tr>
			<tr>
				<td>&nbsp;</td>
				<td headers="attachments" class="attach"><img src="attach.png" width="16" height="16" border="0" /></td>
				<td headers="title">
				<h4><a href="">Homework 3</a></h4>
					<ul class="itemAction">
						<li><a href="">Edit</a></li>
						<li class="last"><a href="">Grade Submission</a></li>
					</ul>
				</td>
				<td>100.0</td>
				<td>Sep 24, 2007 11:00 am</td>
				<td>Open</td>
				<td>0-100.0</td>
			</tr>
			<tr>
				<td>&nbsp;</td>
				<td headers="attachments" class="attach"></td>
				<td headers="title">
				<h4><a href="">Homework 2</a></h4>
					<ul class="itemAction">
						<li><a href="">Edit</a></li>
						<li class="last"><a href="">Grade Submission</a></li>
					</ul>
				</td>
				<td>137.7</td>
				<td>Sep 24, 2007 11:00 am</td>
				<td>Open</td>
				<td>0-100.0</td>
			</tr>
			<tr>
				<td>&nbsp;</td>
				<td headers="attachments" class="attach"><img src="attach.png" width="16" height="16" border="0" /></td>
				<td headers="title">
				<h4><a href="">Homework 1</a></h4>
					<ul class="itemAction">
						<li><a href="">Edit</a></li>
						<li class="last"><a href="">Grade Submission</a></li>
					</ul>
				</td>
				<td>&nbsp;</td>
				<td>Sep 24, 2007 11:00 am</td>
				<td>Closed</td>
				<td>0-100.0</td>
			</tr>

			<tr> 
				<td>
					<img src="expand.png" alt="Collapse group" width="16" height="16" /> Judy Judison
				</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
			</tr>
		</table>

		</form>
	</div>
</body>
</html>