<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
	<title>Assignments</title>

    <script type="text/javascript" language="JavaScript" src="/library/js/headscripts.js"></script>
</head>
<body>
<div rsf:id="page:">
	<!--  close helper window -->
	<script type="text/javascript">
	if (parent.refresh_ajax){parent.refresh_ajax();}
	</script>
	<script type="text/javascript" rsf:id="sizeFrame">
	//Done via producer
	</script>
	<script type="text/javascript" rsf:id="finishedGBItemHelper">
	//Done via producer
	</script>
	<script type="text/javascript" rsf:id="updateAttachments">
	//Done via producer
	</script>
	<script type="text/javascript">
	parent.asnn2.closeThickboxHelper();
	</script>
</div>
</body>
</html>
