<div rsf:id="page:" class="portletBody">
	<h3 rsf:id="preview_heading">Grading "[Assignment title]" Preview</h3>

	<table class="itemSummary" cellspacing="0" summary="Assignment Details">
		<tr>
			<th rsf:id="msg=assignment2.fragment-submission-grade_preview.student">Student</th>
			<td rsf:id="student">Alan, Rob</td>
		</tr>
		<tr>
			<th rsf:id="msg=assignment2.fragment-submission-grade_preview.status">Submission Status</th>
			<td rsf:id="status">Ungraded</td>
		</tr>
	</table>

	<h4 rsf:id="msg=assignment2.fragment-submission-grade_preview.assignment_instructions">Assignment Instructions</h4>
	<div rsf:id="instructions" class="textPanel listCorrection"><p>Instructions would go here.</p></div>

	<h4 rsf:id="msg=assignment2.fragment-submission-grade_preview.additional_resources">Additional resources for assignment</h4>

	<ul class="attachList indnt1">
		<li rsf:id="attachment_list:">
			<img src="page_white_word.png" width="16" height="16"/><a href="">AttachmentExample.doc</a> (52 KB)
		</li>
	</ul>

	<h3 rsf:id="msg=assignment2.fragment-submission-grade_preview.original_submission">Original submission text with the instructor's comments inserted if applicable</h3>
	<div rsf:id="feedbackText" class="textPanel listCorrection"></div>
	
	<h3 rsf:id="msg=assignment2.fragment-submission-grade_preview.feedback_notes">Feedback Notes</h3>
	<div rsf:id="feedback_notes" class="textPanel listCorrection"></div>

	<p rsf:id="number_resubmit">Number of resubmissions allowed: 0</p>
</div>